openapi: 3.0.3
info:
  title: GPS Routes API
  version: 0.0.1
  description: API to retrieve and search GPS Walking Routes
servers:
  - url: https://api.destructuring-bind.org
paths:
  /v1/gps-routes/{objectID}:
    get:
      tags:
        - routes
      operationId: fetchRoute
      summary: Retrieve metadata for the specific walking route
      description: Returns data in JSON format.
      parameters:
        - name: objectID
          in: path
          required: true
          description: The object ID exactly describing the GPS route (typically this is the MD5 hash of the route reference)
          schema:
            type: string
            example: 4a2bb897585c84113beeb3f2691d9042
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteMetadata"
        "400":
          description: Invalid request, e.g., missing or invalid path parameter.
        "404":
          description: Not found, e.g., no such record for the specified object ID.
        "500":
          description: Internal server error

components:
  schemas:
    RouteSummary:
      type: object
      required:
        - objectID
        - ref
        - title
        - description
        - headline_image_url
      properties:
        objectID:
          type: string
          description: The object ID identifies the GPS route (typically this is the MD5 hash of the route reference)
          example: 0a0cafcd50f17284dc578271968f8341
        ref:
          type: string
          description: A human friendly unique identifier for the route.
          example: daneshill-lakes-walking-route
        title:
          type: string
          description: The route title
          example: Daneshill Lakes - Retford Walking Route
        description:
          type: string
          description: Typically a long passage of text describing aspects of the route
          example: This easy walk takes you around the lovely Daneshill Lakes Nature Reserve near Retford. There's wetlands, woodland, grassland, flowering plants and lots of wildlife to look out for on the site. Look out for grebes, swans, willow warbler, whitethroat, and blackcap on your walk. There's a free on-site car park from which you can start the walk. To the south there's the more popular open water section, while to the north there's some peaceful woodland trails to enjoy. The reserve is located just to the west of Idle Valley Nature Reserve. The expansive reserve covers 450 hectares with hundreds of species of wetland birds to look out for. To the south of the site you can pick up the Chesterfield Canal to continue your waterside walking. The towpath can be followed into Retford or towards Ranby.
        headline_image_url:
          type: string
          format: url
          description: The main image URL associated with the route
          example: "https://upload.wikimedia.org/wikipedia/commons/e/e5/Daneshill_Lakes_-_Car_Park_Entrance_-_geograph.org.uk_-_674042.jpg"
        _geoloc:
          $ref: "#/components/schemas/GeoLoc"

    RouteMetadata:
      allOf:
        - $ref: "#/components/schemas/RouteSummary"
        - type: object
          required:
            - created_at
          properties:
            created_at:
              type: string
              format: date-time
              description: The time the route was generated.
              example: 2024-12-18T16:35:30.796469+00:00
            nearby:
              type: array
              items:
                $ref: "#/components/schemas/Nearby"
            gpx_url:
              type: string
              format: url
              description: URL pointing to the associated GPX route data
            images:
              type: array
              items:
                $ref: "#/components/schemas/Image"
            distance_km:
              type: number
              description: A rough distance indicating the length of the route
              example: 1.7
            video_url:
              type: string
              format: url
              description: A link to a (YouTube) video associated with the route
              example: "https://www.youtube.com/embed/U8pyBfqKKhE"
            postcode:
              type: string
              description: Where exists, a nearby postcode
              example: null
            district:
              type: string
              description: The district in which the route starts
              example: null
            county:
              type: string
              description: The county in which the route starts
              example: Nottinghamshire
            region:
              type: string
              description: The region in which the route starts
              example: East Midlands
            country:
              type: string
              description: The country in which the route starts
              example: England

    Nearby:
      type: object
      required:
        - objectID
        - ref
        - description
      properties:
        objectID:
          type: string
          description: The object ID identifies the GPS route (typically this is the MD5 hash of the route reference)
          example: 82d4977c39ae50e61f209ab628ffe8ae
        ref:
          type: string
          description: A human friendly unique identifier for the route.
          example: chesterfield-canal-walking-route
        description:
          type: string
          description: The route title
          example: Chesterfield Canal

    Image:
      type: object
      required:
        - src
      properties:
        src:
          type: string
          format: url
          description: A URL referencing an image
          example: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Footpath_and_meadow_at_Daneshill_Lakes_reserve_-_geograph.org.uk_-_1948823.jpg/512px-Footpath_and_meadow_at_Daneshill_Lakes_reserve_-_geograph.org.uk_-_1948823.jpg"
        title:
          type: string
          description: Description, typically containing some attribution for the image
          example: Footpath and meadow at Daneshill Lakes reserve by Andrew Hill, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia <https://creativecommons.org/licenses/by-sa/2.0
        caption:
          type: string
          description: Appropriate image caption
          example: Footpath and meadow

    GeoLoc:
      type: object
      description: A pair of lat/lng co-ordinates (WSG84) typically indicating the start point of the route
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          description: Latitude
          example: 53.3712125339
        lng:
          type: number
          description: Longitude
          example: -0.9960077399
